@import "tailwindcss";
@plugin "@tailwindcss/typography";

* {
  font-family: "Open-Dyslexic", sans-serif;
}

h1 {
  @apply text-4xl font-extrabold text-center text-sky-600 my-8;
}

.subtitle {
  @apply text-lg text-center text-stone-400 mb-4;
}

h2 {
  @apply text-2xl font-bold text-sky-600 mb-6;
}

code::before {
  content: "";
}

code::after {
  content: "";
}

code {
  @apply text-yellow-500 font-normal font-mono px-2 rounded;
}

code > span {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}
