:root {
  --color-base: #232136;
  --color-base: #232136;
  --color-surface: #2a273f;
  --color-overlay: #393552;
  --color-muted: #6e6a86;
  --color-subtle: #908caa;
  --color-text: #e0def4;
  --color-love: #eb6f92;
  --color-gold: #f6c177;
  --color-rose: #ea9a97;
  --color-pine: #3e8fb0;
  --color-foam: #9ccfd8;
  --color-iris: #c4a7e7;
  --color-highlight-low: #2a283e;
  --color-highlight-med: #44415a;
  --color-highlight-high: #56526e;
}

.header
