<!DOCTYPE html>
<html class="dark" lang="pt-BR">
    <head>
        <meta charset="utf-8" />
        <title>Manguetown - Aprendendo Rust</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta
            name="description"
            lang="pt-BR"
            content="Manguetown é um blog pessoal sobre aprendizado em Rust"
        />
        <meta name="author" content="Chicâo Thiago" />
        <link rel="shortcut icon" href="{{ get_url(path="fav5.png") }}"
        type="image/x-icon" />
        <link
            href="https://fonts.cdnfonts.com/css/open-dyslexic?styles=49734"
            rel="stylesheet"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&display=swap"
            rel="stylesheet"
        />

        <link href="{{ get_url(path="output.css") }}" rel="stylesheet"/>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=open_in_new"
        />
    </head>

    <body class="h-full bg-indigo-950 text-stone-200 max-w-7xl mx-auto">
        <header class="pt-6">{% include "components/header.html" %}</header>
        {% if page %}<!------>
        <main class="grid grid-cols-5 my-12">
            {% else %} <!------>
            <main class="grid grid-cols-1 my-12">
            {% endif %} <!------>
            <section
                class="py-6 bg-blue-950 rounded-3xl max-w-7xl w-full mx-auto col-span-4"
            >
                {% block content %} {% endblock content %}
            </section>
            <aside class="py-6 relative col-span-1">
                {% block aside %}{% endblock aside %}
            </aside>
        </main>
        <footer>{% block footer %}{% endblock footer %}</footer>

        <script type="module">
            import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs";
            mermaid.initialize({ startOnLoad: true });
        </script>
    </body>
</html>
