<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="{{ get_url(path='style.css') }}">
    favicon
    <link rel="icon" type="image/svg+xml" href="{{ get_url(path='fav.png')}}" />
</head>
<body>
    <div class="container">
        <header>
            <div class="header-title">
                <h1>
                    <a href="{{ get_url(path='') }}">Manguetown</a>
                </h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ get_url(path='') }}">Home</a></li>
                    <li><a href="{{ get_url(path='posts') }}">Posts</a></li>
                    <li><a href="{{ get_url(path='projects') }}">Projects</a></li>
                    <li><a href="https://github.com/oxechicao/manguetown" target="_blank">Github</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock content %}
        </main>

    </div>
    <footer>
        <section>
        <div class="footer-content">
            <p style="display: flex; align-items: center;">
            <span class="statusbar-1">Copyright &copy;</span>
            <span class="statusbar-2">2026</span>
            <span class="font-thin">
                 All Rights Reserved.
            </span>
            </p>
            <div class="socials"
                style="display: flex; align-items: center;">
                <span class="statusbar--r--2">
            <img src="{{get_url(path='fav5.png')}}" width="20px"/>
@oxechicao
                    </span>
                <div class="statusbar--r--1">
                <a href="https://github.com/oxechicao/manguetown" target="_blank">Github Project</a>
                </div>
            </div>
        </div>
        </section>
    </footer>
</body>
</html>