{% extends "base.html" %}<!---->
{% block content %}<!---->

<h1 class="title">{{ section.title }}</h1>

<div class="grid grid-cols-1 gap-6 px-6 md:px-20 md:grid-cols-2">
    <div>
        <h2 class="text-yellow-600!">Postagens</h2>
        <div>{% include "components/page-list.html" %}<!----></div>
    </div>
    <div>
        <h2 class="text-yellow-600!">Sobre</h2>
        <article
            class="prose prose-lg prose-stone prose-invert mx-auto w-full max-w-full"
        >
            {{ section.content | safe }}<!---->
        </article>
    </div>
</div>

{% endblock content %}<!---->
