{% extends "base.html" %}<!---->
{% block content %}<!---->

<h1 class="title">{{ section.title }}</h1>

<div class="grid grid-cols-2">
    <div>
        <h2 class="px-20 text-yellow-600!">Sobre</h2>
        <article
            class="px-20 prose prose-lg prose-stone prose-invert mx-auto w-full max-w-full"
        >
            {{ section.content | safe }}<!---->
        </article>
    </div>
    <div>
        <h2 class="px-20 text-yellow-600!">Postagens</h2>
        <div class="px-20">
            {% include "components/page-list.html" %}<!---->
        </div>
    </div>
</div>

{% endblock content %}<!---->
