{% extends "base.html" %} {% block content %}
<h1>{{ page.title }}</h1>
<div class="subtitle">
    {% if page.taxonomies %} Tags: {% for tag in page.taxonomies.tags %} {{ tag
    }} {% endfor %}
    <br />
    {% endif %} Ultima atualização em:
    <strong>{{ page.date }}</strong>
</div>
<hr
    class="mt-12 text-indigo-950 h-0 border-4 border-dotted border-indigo-950"
/>
<article
    class="mt-12 px-20 prose prose-lg prose-stone prose-invert mx-auto w-full max-w-full"
>
    {{ page.content | safe }}
</article>

{% endblock content %}<!------>
{% block aside %}<!------>
{% include "components/table-of-content.html" %}<!------>
{% endblock aside %}<!------>
