{% if pages is defined %}<!---->
{% elif paginator is defined %}<!---->
{% set pages = paginator.pages %}<!---->
{% elif term is defined %}<!---->
{% set pages = term.pages %}<!---->
{% elif section is defined %}<!---->
{% set pages = section.pages %}<!---->
{% endif %}<!---->

<ul class="list list-inside list-disc">
    {% if pages %}<!---->
    {% for page in pages %}<!---->
    <li
        class="px-2 py-1 border-l-2 rounded-l-3xl border-dotted hover:border-yellow-600 transition-colors duration-500 hover:text-yellow-500 mb-2"
    >
        <a href="{{ page.permalink | safe }}"> {{ page.title }}</a>
    </li>
    {% endfor %}<!---->
    {% endif %}<!---->
</ul>
