{% if pages is defined %}<!---->
{% elif paginator is defined %}<!---->
{% set pages = paginator.pages %}<!---->
{% elif term is defined %}<!---->
{% set pages = term.pages %}<!---->
{% elif section is defined %}<!---->
{% set pages = section.pages %}<!---->
{% endif %}<!---->

{% for post in pages %}
    <div class="card">
        <div style="display: flex; flex-direction: column;">
        <h2 style="margin-bottom: 0px;"><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
        {% if post.date %}
        <p style="margin-top: 0px">{{ post.date }} </p>
        {% endif %}
          </div>
        <p>
            {% if post.description %}
                {{ post.description }}
            {% elif post.summary %}
                {{ post.summary | safe }}
            {% else %}
                Ver postagem completa...
            {% endif %}
        </p>
        <a href="{{ post.permalink }}" class="read-more">Ler mais &rarr;</a>
    </div>
    {% endfor %}

